* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

body h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    margin-bottom: 20px;
}

/* Register form */

#registerForm {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

#registerForm label {
    font-size: 1rem;
    margin-bottom: 10px;
}

#registerForm input[type=text], input[type=password] {
    width: 300px;
    height: 30px;
    border: 0;
    outline: none;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    font-size: .9rem;
    padding: 5px;
}

#registerForm input[type=submit] {
    background: none;
    outline: none;
    border: 0;
    cursor: pointer;
    font-size: 1.5rem;
    transition: all 0.3s;
    padding: 5px;
}

#registerForm input[type=submit]:hover {
    background-color: rgba(0,0,0,0.1);
}

#registerForm p {
    width: 300px;
    height: 30px;
    text-align: center;
    background-color: rgba(255,0,0,0.5);
    display: none;
    font-size: .9rem;
}