:root {
    --corner: 190px;
}

/* NAV */

#nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    font-size: 1rem;
}

#nav section {
    position: absolute;
    width: var(--corner);
    height: 100%;
    border-left: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    right: 10px;
}

#nav section a {
    border: 0;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

#nav section button {
    text-decoration: none;
    border: 0;
    outline: none;
    color: black;
    background:none;
    cursor: pointer;

    font-size: 1rem;
}

#nav section a:hover {
    color: blue;
}
#nav section button:hover {
    color: blue;
}

/* Site holder */

#site-holder {
    height: 100%;
    font-size: 1rem;
    font-weight: 100;

    display: grid;
    place-items: center;
}

/* Username holder */

#username-holder {
    width: var(--corner);
    height: 100%;
    position: absolute;
    left: 10px;

    font-size: 1rem;
    font-weight: 100;

    display: grid;
    place-items: center;

    border-right: 1px solid black;
}